$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$font-family-base: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$navbar-default-bg: #5e87b0;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-hover-color:          #bcbcbc;
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome.scss';



