<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Lifeline Medical Systems</a>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav hidden-xs pull-right">
        <li class="item">
          <a href="#/patients/1/">Login as Patient 1</a>
        </li>
        <li class="item">
          <a href="#/patients/2/">Login as Patient 2</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="container top-container">
  <h2>{{patient.name}}</h2>
  <hr/>
  <la-data-chart data="data"></la-data-chart>
</div>

